@font-face {
  font-family: 'Mukta Light';
  src: url('/assets/fonts/Mukta/Mukta-Light.ttf');
}

@font-face {
  font-family: 'Mukta ExtraLight';
  src: url('/assets/fonts/Mukta/Mukta-ExtraLight.ttf');
}

@font-face {
  font-family: 'Mukta Regular';
  src: url('/assets/fonts/Mukta/Mukta-Regular.ttf');
}

@font-face {
  font-family: 'Mukta Medium';
  src: url('/assets/fonts/Mukta/Mukta-Medium.ttf');
}

@font-face {
  font-family: 'Mukta SemiBold';
  src: url('/assets/fonts/Mukta/Mukta-SemiBold.ttf');
}

@font-face {
  font-family: 'Mukta Bold';
  src: url('/assets/fonts/Mukta/Mukta-Bold.ttf');
}

@font-face {
  font-family: 'Mukta ExtraBold';
  src: url('/assets/fonts/Mukta/Mukta-ExtraBold.ttf');
}
