<script lang="ts" setup>
  import { DragState } from '@vueuse/gesture'

  const dragHandler = (dragState: DragState) => {
    // Do something with dragState
    console.log(dragState)
  }
</script>
<template>
  <div class="background absolute overflow-hidden top-0 left-0 h-full w-full" aria-hidden="true">
    <div class="blue blur-42px filter top-200px right-0 h-200px w-200px rounded-full transform translate-x-1/2" />
    <div class="dblue blur-42px filter top-100px h-200px w-200px rounded-full transform -translate-x-1/2" />
    <div class="dblue blur-42px filter -bottom-50px right-0 h-300px w-200px rounded-full transform translate-x-1/2" />
    <div class="blue blur-50px filter bottom-100px left-50px h-200px w-200px rounded-full transform -translate-x-1/2" />
    <div
      class="dblue blur-50px filter bottom-150px left-50px h-200px w-200px rounded-full transform -translate-x-1/2"
    />
  </div>
  <svg class="absolute top-0 left-0" aria-hidden="true" width="100%" height="100%">
    <g id="ripples">
      <!-- <Ripples /> -->
    </g>
  </svg>
  <main v-drag="dragHandler" class="relative h-screen">
    <!-- <Switch>
          <Route path="/english">
            <Game name="english" />
          </Route>
          <Route path="/quebec">
            <Game name="quebec" />
          </Route>
          <Route exact path="/">
            <Home history={history} />
          </Route>
        </Switch> -->
  </main>
</template>
<style lang="scss">
  .background {
    background: var(--background);

    > * {
      position: absolute;
    }

    .blue {
      background: var(--water-blue);
    }
    .dblue {
      background: var(--water-deep-blue);
    }
  }
</style>
