:root {
  --mukta-light: 'Mukta Light', sans-serif;
  --mukta-extralight: 'Mukta ExtraLight', sans-serif;
  --mukta-regular: 'Mukta Regular', sans-serif;
  --mukta-medium: 'Mukta Medium', sans-serif;
  --mukta-semibold: 'Mukta SemiBold', sans-serif;
  --mukta-bold: 'Mukta Bold', sans-serif;
  --mukta-extrabold: 'Mukta ExtraBold', sans-serif;

  --font-family-regular: var(--mukta-regular);
  --font-family-semibold: var(--mukta-semibold);

  --color-text: #1d1d1d;

  --background: #80a5cf;
  --water-blue: #66adc1;
  --water-deep-blue: #4d8ad0;
  --ripple: #ffffff42;

  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
}

body {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: var(--font-family-regular);
  background: var(--background);
  touch-action: none;

  #root {
    height: 100%;
  }
}
